<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.openchrom.chromatogram.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads and Writes Chromatograms to CSV."
            exportConverter="net.openchrom.chromatogram.msd.converter.supplier.csv.converter.CSVChromatogramExportConverter"
            fileExtension=".csv"
            filterName="CSV Chromatogram (*.csv)"
            id="net.openchrom.chromatogram.msd.converter.supplier.csv"
            importConverter="net.openchrom.chromatogram.msd.converter.supplier.csv.converter.CSVChromatogramImportConverter"
            isExportable="true"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>

</plugin>
