<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.chromatogramSupplier">
      <ChromatogramSupplier
            description="Reads and Writes Chromatograms to CSV."
            exportConverter="net.openchrom.msd.converter.supplier.csv.converter.ChromatogramExportConverter"
            fileExtension=".csv"
            filterName="CSV Chromatogram (*.csv)"
            id="net.openchrom.msd.converter.supplier.csv"
            importConverter="net.openchrom.msd.converter.supplier.csv.converter.ChromatogramImportConverter"
            isExportable="true"
            isImportable="true">
      </ChromatogramSupplier>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.openchrom.msd.converter.supplier.csv.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
